{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ToDo List{% endblock title %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block extra_css %}{% endblock extra_css %}
</head>

<body>
    
    <header>
        <div class="title">
            <i class="fa-solid fa-book"></i>
            <h1>ToDo List</h1>
        </div>
        {%if user.is_authenticated %}
        <div class="actions">
            <div class="action-item">
                <i class="fa-solid fa-user"></i>
                <p>Bem-vindo, {{ user.first_name|default:user.username }}</p>
            </div>
            <a href="{% url 'auth:logout' %}" class="action-item">
                <i class="fa-solid fa-right-from-bracket"></i>
                <p>Sair</p>
            </a>
            <a href="#" class="action-item" onclick="confirm_delete_account()">
                <i class="fa-solid fa-user-minus"></i>
                <p>Deletar</p>
            </a>
        </div>
        {%else%}
        <div class="actions">
            <a href="{% url 'auth:login' %}" class="action-item">
                <i class="fa-solid fa-door-open"></i>
                <p>Login</p>
            </a>
            <a href="{% url 'auth:register' %}" class="action-item">
                <i class="fa-solid fa-user-plus"></i>
                <p>Cadastro</p>
            </a>
        </div>
        {%endif%}
    </header>

    <main>
        {% block content %}{% endblock content %}
    </main>

    <script src="{% static 'js/base.js' %}"></script>
    <script>
        // Exibir toasts para mensagens do Django
        {% if messages %}
            {% for message in messages %}
                showToast('{{ message|escapejs }}', '{{ message.tags }}');
            {% endfor %}
        {% endif %}

        function confirm_delete_account() {
            if (confirm('Tem certeza que deseja deletar sua conta? Isso irá excluir todos os dados associados à sua conta.')) {
                window.location.href = '{% url "auth:delete" %}';
            }
        }


    </script>

    {% block extra_js %}{% endblock extra_js %}
</body>
</html>