{% extends "base.html" %}
{% block title %} ToDo List {% endblock title %}
{%load static%}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock extra_css %}

{% block content %}

    <div class="hero">
        <h2>Bem-vindo ao ToDo List</h2>
        <p>Organize suas tarefas de forma eficiente e intuitiva com nossa interface simples e intuitiva.</p>
    </div>

    <div class="features">
        <div class="feature">
            <i class="fa-solid fa-list-check"></i>
            <div class="feature-content">
                <h3>Lista de Tarefas</h3>
                <p>Adicione, edite e exclua tarefas facilmente com nossa lista de tarefas.</p>
            </div>
        </div>
        <div class="feature">
            <i class="fa-solid fa-user"></i>
            <div class="feature-content">
                <h3>Individualidade</h3>
                <p>Somente você tem acesso às suas tarefas.</p>

            </div>
        </div>
        <div class="feature">
            <i class="fa-solid fa-filter"></i>
            <div class="feature-content">
                <h3>Filtros</h3>
                <p>Filtre suas tarefas e facilite a sua vida.</p>
            </div>

        </div>
    </div>

    <div class="cta">
        <h2>Comece a usar o ToDo List</h2>
        <p>Adicione suas tarefas e comece a gerenciar sua vida de forma eficiente.</p>
        {%if user.is_authenticated %}
        <a href="{% url 'tasks:dashboard' %}" class="btn btn-primary">Adicionar Tarefa</a>

        {%else%}
        <a href="{% url 'auth:login' %}" class="btn btn-primary">Login</a>

        <a href="{% url 'auth:register' %}" class="btn btn-primary">Cadastro</a>

        {%endif%}
    </div>


{% endblock content %}